<div class="container mt-4">
  <h1>Task Details</h1>
  <ul class="list-group">
    <li class="list-group-item"><strong>Status:</strong> <%= @task.status %></li>
    <li class="list-group-item"><strong>URL:</strong> <%= @task.url %></li>
  </ul>
  <div class="mt-3">
    <%= link_to 'Back to tasks', tasks_path, class: 'btn btn-secondary' %>
  </div>
</div>
